---
---
/*! (c) Copyright Nik Ahmad : base v0.1 */
@import "primer-utilities/index.scss";
@import "primer-layout/index.scss";
@import "primer-markdown/lib/tables.scss";
@import "primer-markdown/lib/code.scss";
@import "primer-markdown/lib/blob-csv.scss";
@import "rouge-base16-dark";
@import "base-v1.0";
@import "utilities";

$primary-color:#4660e1;
$border-color:grey;
$border-color-alpha:rgba(grey,40%);
$bg-color:rgba(grey,30%);

a {
  color:$primary-color;
  text-decoration:none;
  &:hover{ text-decoration-line:underline }
}

.footnotes {
  font-size:.87em;
  margin:2rem 0;
  border-top:2px solid grey;border-top-color:rgba(grey,30%);
}

.markdown-body {

  &::before,&::after {
    display: table;
    clear: both;
    content: "";
  }

  h1,h2,h3,h4,h5,h6 { font-weight:600;margin:1em 0 1rem 0;line-height:1; }
  h1 {
    font-size:2em;
    color:grey;
    a { color:inherit; &:hover{ text-decoration:none;color:$primary-color; } }
  }
  h2 { font-size:1.8em }
  h3 { font-size:1.6em }
  h4 { font-size:1.4em }
  h5 { font-size:1.2em }
  h6 { font-size:1em }
  h1,
  h2 {
    border-bottom:2px solid $border-color;border-bottom-color:$border-color-alpha;
    padding-bottom:.3em;
  }
  header h1 { font-size:1.2em }

  img { box-shadow:0 1px 3px 1px rgba(black,50%), 0 0 0 1px rgba(black,50%); }

  table {
    border-spacing:0;
    border-collapse:collapse;
    margin:1rem 0;
  }

  table {
    tr, th, td { border-color:$border-color;border-color:$border-color-alpha; }
    tr { background-color:initial;background-color:rgba(grey,10%); }
    thead tr,
    tr:nth-child(2n) { background-color:initial;background-color:rgba(grey,20%); }
  }

  .highlight {
    background-color:#202020;background-color:rgba(black,90%);
    box-shadow:0 2px 4px 2px rgba(black,50%) inset, 0 0 0 1px rgba(black,50%) inset;
    color:#6a9fb5;
    margin:.5rem 0;
    &,& pre { border-radius:6px }
  }

  pre {
    background-color:initial;
    border:1px solid $border-color;border-color:$border-color-alpha;
  }
  .highlight pre { background-color:initial;border:0; }

  summary {
    cursor:pointer;
    margin-bottom:1em;
    padding:.2em .4em;
    border-radius:4px;
    &:hover{ background-color:$bg-color; }
  }

  blockquote {
    margin:1rem 0;
    padding:0 1.5rem;
    box-shadow:.4em 0 rgba(grey,50%) inset;
  }

  dt { font-weight:700;font-style:italic; }
  dd { padding-left:1em;margin-left:0; }

  code, tt { background-color:initial;background-color:$bg-color; }
  pre { code, tt { background:transparent } }

}

// utilities

.p { margin-bottom:16px }
.box { padding:.5em;border-radius:6px; }

.text-secondary { color:unset !important }
.bg-secondary {
  background-color:rgba(slategrey,25%);
  border:1px solid grey;
  border-color:rgba(grey,0.25);
}

.text-primary { color:$primary-color !important }
.bg-primary { background-color:$primary-color; code{ background-color:rgba(27,31,35,0.3) } }

.hero {
  font-size:2.5em;
  font-weight:700;
  letter-spacing:-1px;
  line-height:1.2;
}
