<link id="_style" rel="stylesheet" href='{{ site.github.url }}/assets/{{ page.theme | default: "base" }}/css/style.css?v={{ site.github.build_revision }}' />
<!-- {{ page.theme }} -->
<!-- {{ page.theme=='' }} -->
<!-- {{ page.theme==undefined }} -->
<!-- {{ page.theme==null }} -->
{% if page.theme %}{% if page.theme=='base' %}
<script src='{{ site.github.url }}/assets/base/js/base-theme-v1.0.js?v={{ site.github.build_revision }}'></script>
{% endif %}{% else %}
<script src='{{ site.github.url }}/assets/base/js/base-theme-v1.0.js?v={{ site.github.build_revision }}'></script>
{% endif %}
