---
---
/*! (c) Copyright : github.com/nikahmadz */

@import "base-scroll";
@import "rouge-base16-dark";
@import "utilities";

pre {
  padding:.5rem;
  border:1px solid grey;
  border-radius:.3rem;
}

#_main { font-family:sans-serif }
#_layout { max-width:600px;margin:auto }
#_article {

  line-height:1.5;

  h1,h2,h3,h4,h5,h6 { margin-top:2em }
}
