---
---
/*! (c) Copyright : github.com/nikahmadz */

@import "base-scroll";
@import "rouge-base16-dark";
@import "utilities";

div.highlight {
  background:#111;
  border-radius:.3rem;
  code { color:cadetblue }
  .p,.pi { color:slategrey }
  .o,.ow { color:indianred }
}
pre.highlight {
  padding:1rem;
  border:1px solid grey;
  border-radius:.3rem;
}

#_main { font-family:sans-serif }
#_article {

  line-height:1.5;

  h2,h3,h4,h5,h6 { margin-top:2em }
}

.footnotes {
  font-size:.87em;
  margin:2rem 0;
  border-top:2px solid grey;border-top-color:rgba(grey,30%);
}
