%container {&:before,&:after { content:'';display:table;clear:both }}

html,body { margin:0;min-height:100% }
body { @extend %container; }
pre { overflow:auto }
abbr { cursor:help; text-underline-offset:1px; }
mark { padding:0 .2em; }

ul.task-list { list-style:none;padding-left:.5rem; }
input[type="checkbox"]{
  &.task-list-item-checkbox {
    margin:0 5px;
    height:1.3875em;
    width:1.3875em;
    vertical-align:text-top;
  }
}

a.footnote { margin:0 2px; }
a.reversefootnote:hover { text-decoration:none; }

.relative { position:relative }
.indent { text-indent:2rem }

.justify-text { text-align:justify }
.no-wrap { &,pre.highlight { white-space:nowrap }}
.normal-wrap { &,pre.highlight { white-space:normal }}

.big-first{
  &.indent {
    text-indent:0;
    &::first-letter { margin-left:2rem }
  }
  &::first-letter {
    float:left;
    font-size:4.5em;
    font-weight:700;
    line-height:1;
    margin-right:.1em;
    font-family:Georgia,Constantia,Cambria,"Book Antiqua","Palatino Linotype","Big Caslon",serif;
  }
}

.text-white { color:white !important }
.text-black { color:black !important }
.text-gray,.text-grey { color:grey !important }
.text-slategray,.text-slategrey { color:slategrey !important }

.text-medium { font-size:14px !important }

.text-justify { text-align:justify }

.markdown-body {

  @extend %container;

  table {
    &.full { display:table }
    &.simple { th, td { border:0 } }
    &.borderless { tr, th, td { border:0 } tr { background:0  } }
  }

}

#_credit {
  font-size:12px;
  position:absolute;position:fixed;
  bottom:6px;right:6px;left:auto;top:auto;
  padding:.3rem .5rem;
  box-shadow:0 0 4px #0007;
  border-radius:5px;
  color:inherit;
  text-decoration:none;
}

.hero-1 {

  padding:12rem 0;padding:30vh 0;
  text-align:center;

  .-title {
    font-size:3.3rem;
    line-height:1;
    margin:1rem;
    color:inherit;
    a {
      color:inherit;text-decoration:inherit;
      &:hover{ text-decoration:underline;text-underline-offset:0.1em; }
    }
  }

  .-desc { font-family:sans-serif;color:grey;margin:1rem; }

  .-verpos { position:relative }
  .-ver { position:absolute;width:100% }

}
