%container {&:before,&:after { content:'';display:table;clear:both }}

html,body { margin:0;min-height:100% }
body { @extend %container; }
pre { overflow:auto }

.justify-text { text-align:justify }
.normal-wrap {
  pre.highlight { white-space:normal }
}

body,
#_main,
#_layout,
#_credit { background:inherit }

#_credit {
  position:absolute;position:fixed;
  bottom:0;right:0;left:auto;top:auto;
  padding:.3rem .5rem;
  box-shadow:-1px -1px 4px 1px #0007;
  border-radius:5px 0 0 0;
}

.markdown-body { @extend %container; }

.hero-1 {

  @extend %container;
  margin:30vh auto;
  text-align:center;

  .-title {
    font-size:3.3rem;
    line-height:1;
    margin:1rem;
    a {
      color:inherit;text-decoration:inherit;
      &:hover{ text-decoration:underline;text-underline-offset:0.1em; }
    }
  }

  .-desc { font-family:sans-serif;color:grey;margin:1rem; }

  .-verpos { position:relative }
  .-ver { position:absolute;width:100% }

}
