<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}" data-layout="default">
<!-- (c) Copyright : github.com/nikahmadz -->
<head>{% include head.html %}</head>
<body>
<main id="_main">
<div id="_layout" class="container-lg px-3 my-5 markdown-body">
<header id="_header">{% include header.html %}</header>
<article id="_article">{{ content }}</article>
<footer id="_footer">{% include footer.html %}</footer>
<aside id="_credit">{% include credit.html %}</aside>
</div>
</main>
{% include script-anchor-js.html %}
</body>
</html>
