---
name: default
---
{%- include vars.html -%}
<!doctype html>
<html lang='{{ page.lang | default: site.lang | default: "en-US" }}' data-layout="{{ layout.name }}">
<head>{% include head.html %}</head>
<body>
<main id="_main">
<div id="_layout">
<header id="_header">{% include header.html %}</header>
<article id="_article" class="markdown-body">{{ content }}</article>
<footer id="_footer">{% include footer.html %}</footer>
<aside>{% include credit.html %}</aside>
</div>
</main>
{% include scripts.html %}
</body>
</html>
