---
---
/*! (c) Copyright Nik Ahmad : primer v0.1 */
@import "jekyll-theme-primer";
@import "utilities";

$primary-color:#0366d6;
$border-color:#e1e4e8;
$bg-color:#f6f8fa;

.footnotes {
  font-size:.87em;
  margin:24px 0;
  border-top:4px solid $border-color;
}

// utilities

.p { margin-bottom:16px }
.box { padding:.5em;border-radius:6px; }

.text-secondary { color:initial !important }
.bg-secondary { background-color:$bg-color }

.text-primary { color:$primary-color !important }
.bg-primary { background-color:$primary-color; code{ background-color:rgba(27,31,35,0.3) } }

.hero {
  font-size:2.5em;
  font-weight:700;
  letter-spacing:-1px;
  line-height:1.2;
}
